/*------------------------------------------------------------------
Website Name: BisLink
Version: 2.0
Author: Temitope David Olajide
-------------------------------------------------------------------*/
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
   html {
    height: 100%;
  }
  body {
    background-color: #fff;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.loader {
  width:70%;
}
.loading-container{
margin: 0;
position: absolute;
top: 50%;
left: 56%;
transform: translate(-50%, -50%);
}

/* ==============================================================
     CATALOGUE COMPONENT STYLES
     ============================================================== */
     .biz-header {
      background-image: linear-gradient(
          to right bottom,
          rgba(73, 78, 80, 0.8),
          rgba(35, 44, 54, 0.7)
        ),
        url("images/Lagos-skyline.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      background-clip: padding-box;
      background-color: #f4f9ff;
    }
    
    .hero-caption {
      width: 100%;
      padding-bottom: 9%;
    }
    .hero-title {
      padding-top: 9%;
      text-align: center;
      color: white;
      font-size: 5em;
      font-weight: 300;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
    }
    .hero-paragraph {
      text-align: center;
      color: white;
      font-size: 30px;
      margin-top: 15px;
      margin-bottom: 30px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .hero-search-container {
display: flex;
width: 100%;
justify-content: center;
    }
    @media screen and (max-width: 780px) {
      .hero-search-container {
flex-direction: column;
align-items: center;
      }
    }
    .input-wrapper input::placeholder {
      color: rgb(196, 168, 168);
    }
    .input-wrapper input[type="text"] {
      background: transparent;
      border: none;
      border: 1px solid #ffff;
      outline: none;
      border-radius: 0;
      color: #ffffff;
      width: 300px;
      margin: 10px;
    }
    .input-wrapper {
      margin-bottom: 15px;
    }

    .browse-by,
    .browse-by a {
      text-align: center;
      color: rgb(182, 229, 229);
      font-size: 22px;
      margin-top: 30px;
      font-weight: 300;
    }
    .browse-by :hover {
      color: rgb(153, 144, 144);
      text-decoration: underline;
    }
    .pagination {
      margin: auto auto;
      width: 320px
    }
    .featured-text {
      font-size: 2.9em;
    }
    .category,
    .biz-address {
      text-transform: capitalize;
    }
    /* ==============================================================
   BUSINESS CARD STYLES
   ============================================================== */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.card-item{
width: 32%;
}

.biz-name {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(97, 83, 83);
  text-transform: capitalize;
}
.card-body{
  height: 250px;
overflow: auto;
}
@media screen and (max-width: 960px) {
  .card-item{
    width: 45%;
    }
}
@media screen and (max-width: 768px) {
  .card-item{
    width: 48%;
    }
}
@media screen and (max-width: 530px) {
  .card-item{
    width: 100%;
    }
    .card-body{
      height: auto;
    overflow: none;
    }
}
.card-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-body ul li {
  margin-top: 9px;
}



.card-contents p {
  display: inline;
  font-size: 15px;
  font-weight: 400;
  color: #2bbbad;
}

.card-bottom .view-icon {
  float: right;
  margin: 0 20px;
  color: #2bbbad;
}

.card-bottom .trash-icon {
  float: right;
}

.card-bottom .edit-icon {
  float: right;
  margin: 0 20px;
}

.card p {
  display: inline;
  font-size: 15px;
  font-weight: 400;
  color: #2bbbad;
}

.card-bottom p {
  color: rgb(247, 4, 4);
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}
.space-text {
  margin-right: 10px;
}
.card-icon {
  color: #2bbbad;
}
.card-img{
  height: 250px;
  object-fit: cover;
}
.nav-menu{
  color: #ffffff;
  display: inline;
  padding: 10px 15px 5px 15px;
}
.nav-menu:hover{
  color: rgb(255, 255, 255,0.6);
}
.activeRoute{
  color: #ffffff;
  display: inline;

  background-color: rgb(255, 255, 255, 0.05);

}
    /* ==============================================================
         ERROR PAGE STYLES
         ============================================================== */
    .error-container {
      width: 80%;
      margin: 0 auto;
    }
    .error-image {
      width: 90%;
    }
/* ==============================================================
   FOOTER STYLES
   ============================================================== */
   .footer-search-form,.copyright-content {
    width: 45%;
  }

  
  .footer {
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
  }
  .footer-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .copyright-content p {
font-size: 1.5rem;
  }
  @media screen and (max-width: 768px) {
    .footer-wrapper{
      flex-direction: column;
    }
    .footer-search-form,.copyright-content {
      width: 85%;
    }
    .copyright-content p {
      font-size: 1.5rem;
        }
  }

/* ==============================================================
     BUSINESS FORM STYLES
     ============================================================== */
     .business-form-header {
      height: 50vh;
      background-image: url("images/00.jpg");
      background-size: cover;
      background-position: top;
      position: relative;
      z-index: -1;
      margin-top: -10px;
    }
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: rgba(108, 126, 129, 0.5);
    }
    .hero-text h1 {
      text-shadow: 3px 3px rgb(37, 24, 26);
      font-size: 2.6em;
    }
    .biz-form-container {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 780px) {
      .biz-form-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      .biz-form-title {
        font-size: 30px;
        font-weight: 600;
        border-bottom: 2px solid black;
        padding: 10px;
      }
    }
    @media screen and (max-width: 500px) {
      .biz-form-container {
        width: 100%;
      }}
    .hide-gallery-button {
      visibility: hidden;
    }
    /* ==============================================================
     BUSINESS-DETAILS STYLES
  ============================================================== */
.review {
  margin-left: 5px;
}

.cat-review {
  margin-top: 0px;
}
.profile-text {

}
.review-card {
  margin-left: 0px;
}
.commenter-avatar img {
  width: 60px;
  margin: 0px auto auto;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.profile-section-biz-details img {
  border-radius: 50%;
  border: 6px solid white;
  width: 160px;
}
.commenter-avatar {
  text-align: center;
}

.space-nav {
  margin-right: 30px;
}

/* ==============================================================
     PROFILE STYLES
       ============================================================== */
       .profile-text {
        text-align: center;
        text-transform: capitalize;
      }
      
      .table {
        text-align: center;
      }
      
      .user-info {
        width: 85%;
        margin: auto auto;
        text-align: center;
      }
      .header {
        height: 50vh;
        background-image: url("images/hero.jpg");
        background-size: cover;
        background-position: top;
        position: relative;
        background-clip: padding-box;
        background-color: #f4f9ff;
        z-index: -1;
      }
      .dashboard-containers {
        width: 90%;
        margin: auto auto;
        background: #ffffff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
      }
      
      .profile-section-biz-details img {
        border-radius: 50%;
        border: 6px solid white;
        width: 160px;
      }
      .profile-section-biz-details {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      
      .profile-img {
        border-radius: 50%;
        border: 6px solid white;
        width: 200px;
        height: 200px;
        display: block;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
      }
      .ppix {
        width: 200px;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
      }
      .profile-section-biz-details {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      .profile-text {
      }
      .table {
        text-align: center;
      }
      .user-info {
        width: 85%;
        margin: auto auto;
        text-align: center;
      }
/* ==============================================================
     EDIT-PROFILE STYLES
     ============================================================== */
     .form__container-card {
      margin-left: auto;
      margin-right: auto;
    }

/* ==============================================================
     NAV STYLES
     ============================================================== */
     .zindex {
      z-index: 999;
    }
    .search-input-wrapper input[type="text"] {
      background: transparent;
      border: none;
      border: 2px solid rgb(7, 22, 87);
      outline: none;
      border-radius: 0;
      color: #181616;
    }
    .search-input-wrapper input::placeholder {
      color: rgb(71, 67, 67);
    }
    .nav-notification-badge {
      border: 1px solid blue;
      display: inline;
      border-radius: 50%;
      top: -13px;
      padding-left: 2px;
      padding-right: 2px;
      position: relative;
      font-size: 10px;
      background: blue;
      color: #f3f3f3;
      font-weight: bold;
    }
    .nav-notification-badge:hover {
      opacity: 0.8;
    }
    @media screen and (max-width: 780px) {
      .nav-notification-badge {
      }
    }

/* ==============================================================
     NOTIFICATIONS STYLES
     ============================================================== */

     .notification-container  {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 900px) {
      .notification-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }
    }