/*------------------------------------------------------------------
Website Name: BisLink
Version: 2.0
Author: Temitope David Olajide
-------------------------------------------------------------------*/
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
html {
  min-height: 100%;
  position: relative;
}
.input-wrapper input::placeholder {
  color: rgb(196, 168, 168);
}
.input-wrapper input[type="text"] {
  background: transparent;
  border: none;
  border: 1px solid #ffff;
  outline: none;
  border-radius: 0;
  color: #ffffff;
}
.hide-element {
  visibility: hidden;
}
